<a href="https://colab.research.google.com/github/KanchanCS/Python_pratics/blob/main/ExcelR_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving Salaries (3).csv to Salaries (3).csv

In [ ]:
data = pd.read_csv("Salaries (3).csv")

In [ ]:
data

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
data.sample()

         rank discipline  phd  service     sex  salary
62  AssocProf          B   14        7  Female  109650

In [ ]:
data.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
data.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
data.shape

(78, 6)

In [ ]:
25//3, 24%3

(8, 0)

In [ ]:
25%8, 25//8

(1, 3)

In [ ]:
2-4

-2

In [ ]:
2+4

6

In [ ]:
2*4

8

In [ ]:
2**4

16

In [ ]:
a = 2
b = 3.3
c = a*b
d = 3.3

In [ ]:
d

3.3

In [ ]:
a==a

True

In [ ]:
a==b

False

In [ ]:
import math

In [ ]:
math.isclose(a,b)

False

In [ ]:
a = 12
a = 2
a

2

In [ ]:
3+2,2+5,4*5,6*8

(5, 7, 20, 48)

In [ ]:
a = "sring"
(type(a))

str

In [ ]:
a= 1
(type(a))

int

In [ ]:
a = 1.1
(type(a))

float

In [ ]:
a = "1ab"
(type(a))

str

In [ ]:
x = 3+5j
(type(x))

complex

## *01/06/2023*

In [ ]:
True or False

True

In [ ]:
True and False

False

In [ ]:
True and False or True

True

In [ ]:
False and (False or True)

True

In [ ]:
False or False and True

False

In [ ]:
True or False and True

True

## List

In [ ]:
Mylist =[1,2,3,4,3,4,5,6]
print(Mylist)

[1, 2, 3, 4, 3, 4, 5, 6]

### slicing

In [ ]:
Mylist[0:3]

[1, 2, 3]

In [ ]:
Mylist[:2]

[1, 2]

In [ ]:
Mylist[0:5]

[1, 2, 3, 4, 3]

## 02/06/23

In [ ]:
list1 = [12,23,34,45,67]
list1

[12, 23, 34, 45, 67]

# Cocate

In [ ]:
list2 = [1,2,3,4,5]
list3 = list1 + list2 
list3

[12, 23, 34, 45, 67, 1, 2, 3, 4, 5]

### Append()

In [ ]:
list2.append(231)
list2

[1, 2, 3, 4, 5, 231]

In [ ]:
list2.append("xyz")
list2

[1, 2, 3, 4, 5, 231, 'xyz']

## Min, Max, length, sum

In [ ]:
list1_min_value = min(list1)
list1_max_value = max(list1)
list1_sum_value = sum(list1)
list1_len_value = len(list1)
print(list1_min_value)
print(list1_max_value)
print(list1_sum_value)
print(list1_len_value)

12
67
181
5

## Index, Delete, Remove, POP, Clear, Insert,Reverse()

In [ ]:
list4 = [11,23,45,67,45,"ds"]
list4.reverse()
list4

['ds', 45, 67, 45, 23, 11]