
# <span style='color:Blue'> Built in functions  </span>

---
### In Python we have lots of built-in functions. Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring. Some of the most commonly used Python built-in functions are the following:<span style='color:Red'> print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().</span> In the following table you will see an exhaustive list of Python built-in functions taken from

## Python Variable Name Rules

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

### Here are some example of valid variable names:

firstname\
lastname\
age\
country\
city\
first_name\
last_name\
capital_city
#### _if we want to use reserved word as a variable
year_2021\
year2021\
current_year_2021\
birth_year\
num1\
num2

### Invalid variables names

first-name\
first@name\
first$name\
num-\
1num

In [16]:
# Variables in Python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }
last_name

'Yetayeh'

#### Let us use the print() and len() built-in functions. Print function takes unlimited number of arguments. An argument is a value which we can be passed or put inside the function parenthesis, see the example below.

In [17]:
print('Hello, World!') # The text Hello, World! is an argument
print('Hello',',', 'World','!') # it can take multiple arguments, four arguments have been passed
print(len('Hello, World!')) # it takes only one argument

Hello, World!
Hello , World !
13

In [18]:
# Variables in Python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }

In [21]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

## Declaring Multiple Variable in a Line
### Multiple variables can also be declared in one line:

In [25]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)

print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married k:  True

## Getting user input using the input() built-in function. Let us assign the data we get from a user into first_name and age variables. Example:

In [44]:

first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

What is your name: jon
How old are you? 45
jon
45

## Checking Data types and Casting

In [28]:
# Different python data types
# Let's declare variables with various data types

first_name = 'Asabeneh'     # str
last_name = 'Yetayeh'       # str
country = 'Finland'         # str
city= 'Helsinki'            # str
age = 250                   # int, it is not my real age, don't worry about it

# Printing out types
print(type('Asabeneh'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Asabeneh','age':250, 'is_married':250}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

* Casting: Converting one data type to another data type. We use int(), float(), str(), list, set When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. If we concatenate a number with a string, the number should be first converted to a string. We will talk about concatenation in String section.

In [29]:
# int to float
num_int = 10
print('num_int',num_int) 

num_float = float(num_int)
print('num_float:', num_float)

num_int 10
num_float: 10.0

In [38]:
# float to int
gravity = 9.81
print(gravity)             # 9

floot_ = int(gravity)
print("int number:",floot_)

9.81
int number: 9

In [35]:
# int to str
num_int = 10
print(num_int)

num_str = str(num_int)
print(num_str)

10
10

In [42]:
# str to int or float
num_str = '10.6'
#print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

num_float 10.6

In [43]:
# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)

Asabeneh
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

# Numbers
___
### Number data types in Python:

* Integers: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...

* Floating Point Numbers(Decimal numbers) Example: ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...

* Complex Numbers Example: 1 + j, 2 + 4j, 1 - 1j