# Strings
---
#### Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types. To check the length of a string use the len() method.

##### Creating a String

In [1]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of Python Challenge"
print(sentence)

P
1
Hello, World!
13
I hope you are enjoying 30 days of Python Challenge

#### Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.

In [9]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
print("-"*50)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
--------------------------------------------------
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

## String Concatenation
##### We can connect strings together. Merging or connecting strings is called concatenation. See the example below:

In [10]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh
# Checking the length of a string using len() built-in function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 16

Asabeneh Yetayeh
8
7
True
16

### Escape Sequences in Strings
##### In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

* \n: new line
* \t: Tab means(8 spaces)
* \\: Back slash
* \': Single quote (')
* \": Double quote (")
###### Now, let us see the use of the above escape sequences with examples.

In [11]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	5	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

In [13]:
# Strings only
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string1 = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point
print(formated_string1)

python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"

I am Asabeneh Yetayeh. I teach Python
The area of circle with a radius 10 is 314.00.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [15]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

I am Asabeneh Yetayeh. I teach Python

In [16]:
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [19]:
# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a circle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

The area of a circle with a radius 10 is 314.00.

##### unpacking sequence

In [18]:
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

### Accessing Characters in Strings by Index

In [24]:
language = 'Python'
first_letter = language[0]
print(first_letter)

second_letter = language[1]
print(second_letter)

#last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter)

P
y
n

###### If we want to start from right end we can use negative indexing. -1 is the last index.

In [25]:
language = 'Python'
last_letter = language[-1]
print(last_letter) 

second_last = language[-2]
print(second_last)

n
o

### Slicing Python Strings
###### In python we can slice strings into substrings.

In [26]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) 
last_three = language[3:6]
print(last_three) 
# Another way
last_three = language[-3:]
print(last_three)  
last_three = language[3:]
print(last_three)

Pyt
hon
hon
hon

### Reversing a String
###### We can easily reverse strings in python.

In [28]:
greeting = 'Hello, World!'
print(greeting[::-1])

!dlroW ,olleH

### Skipping Characters While Slicing
###### It is possible to skip characters while slicing by passing step argument to slice method.

In [29]:
language = 'Python'
pto = language[0:6:2] #
print(pto) # Pto

Pto

###### capitalize(): Converts the first character of the string to capital letter

In [30]:
challenge = 'thirty days of python'
print(challenge.capitalize())

Thirty days of python

###### count(): returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

In [31]:
challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2`

3
1
2

###### endswith(): Checks if a string ends with a specified ending

In [42]:
challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

#### isupper(): Checks if all alphabet characters in the string are uppercase

In [50]:
challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

#### title(): Returns a title cased string

In [51]:
challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

### 1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

In [34]:
a1 = "Thirty"
a = "Days"
b = "Of"
c = "Python"
d = a1 + " " + a +" "+ b + " " + c
d

'Thirty Days Of Python'

### 2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.

In [35]:
a = "Coding"
b = "For"
c = "All"
d = a + " " + b + " " + c
d

'Coding For All'

### 3. Declare a variable named company and assign it to an initial value "Coding For All".

In [39]:
company = "coding for all"
print(company)

coding for all

### 4. Print the length of the company string using len() method and print().

In [40]:
print(len(company))

14

### 5. Change all the characters to uppercase letters using upper() method.

In [46]:
print(company.upper())

CODING FOR ALL

### 6. Change all the characters to lowercase letters using lower() method.

In [48]:
print(company.lower())

coding for all

### 7. Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.

In [53]:
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
CODING FOR ALL

### 8. Cut(slice) out the first word of Coding For All string.

In [56]:
company = "Coding For All"
sliced_company = company.split(" ", 1)[1]
print(sliced_company)

For All